<div class="row">
    <form action="/post/store" method="POST">
        <div class="mb-3">
            <label for="post_id" class="form-label">Id</label>
            <input type="text" name="post_id" class="form-control" id="post_id" aria-describedby="post_id">
        </div>

        <div class="mb-3">
            <label for="post_content" class="form-label">Content</label>
            <input type="text" name="post_content" class="form-control" id="post_content" aria-describedby="name">
        </div>

        <div class="mb-3">
            <label for="post_media" class="form-label">Media</label>
            <input type="text" name="post_media" class="form-control" id="post_media" aria-describedby="password">
        </div>

        <div class="mb-3">
            <label for="post_datetime" class="form-label">Dob</label>
            <input type="date" name="post_datetime" class="form-control" id="post_datetime" aria-describedby="dob">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>