<div class="row">
    <form action="/topic/store" method="POST">
        <div class="mb-3">
            <label for="topic_id" class="form-label">Id (Don't input if you want auto id setting)</label>
            <input type="text" name="topic_id" class="form-control" id="topic_id" aria-describedby="topic_id">
        </div>

        <div class="mb-3">
            <label for="topic_title" class="form-label">Title</label>
            <input type="text" name="topic_title" class="form-control" id="topic_title" aria-describedby="name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>