<div class="row">
    <form action="/user/store" method="POST">
        <div class="mb-3">
            <label for="user_id" class="form-label">Id (required)</label>
            <input type="text" name="user_id" class="form-control" id="user_id" aria-describedby="user_id">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" aria-describedby="name">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" name="password" class="form-control" id="password" aria-describedby="password">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="description" aria-describedby="description">
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" name="address" class="form-control" id="address" aria-describedby="address">
        </div>

        <div class="mb-3">
            <label for="dob" class="form-label">Dob</label>
            <input type="date" name="dob" class="form-control" id="dob" aria-describedby="dob">
        </div>

        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone number</label>
            <input type="text" name="phone_number" class="form-control" id="phone_number" aria-describedby="phone_number">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="email">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>