<h1>Topic List Detail</h1>
{{#each topic}}
<div class="tag" style="margin: 10px;">
    <div class="row">
                <h2 class="column-detail"># {{this.topic_id}}</h2 class="column-detail">
                <h2 class="column-detail">Title: {{this.topic_title}}</h2 class="column-detail">
                <h2 class="column-detail">Followers: {{this.follower_count}}</h2 class="column-detail">
    </div>
</div>
{{/each}}